*{
    margin: 0px;
    box-sizing: border-box;
    scrollbar-color:#6e00be #f6f6f6; 
    scrollbar-width: smooth;
}
body{
    background-color: #fff;
    font-family:  "Google Sans", arial, sans-serif;
}
/* library manu */
#library-nav{
    background: linear-gradient(50deg, #6366F1 10%, #0EA5E9 30%, #10B981 98%);
    padding: 0 20px;
    display: flex;
    align-items: center;
}
/* logo */
.li-ligo{
    width: 15%;
    display: flex;
    cursor: pointer;
}
#li-img{
    margin: 0 -15px 0 0;
    height: 80px;
    filter: brightness(6) invert(1);
}

/* text in Navbar */
#li-text{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(to right, #ffffff 0%, #ff0000 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.7;
}

/* list Item in Navbar */
.li-list{
    width: 60%;
    height: 100%;
}
.li-ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.li-ul li{
    font-size: 17px;
}

.li-ul li a{
    color: #ffffff;
    text-decoration: none;
}
.material-symbols-outlined{
    position: absolute;
    color: #ffa600;
}
.li-ul li a, .material-symbols-outlined{
    opacity: 0.7;
}
.li-ul li a:hover, .material-symbols-outlined:hover{
    opacity: 1;
}

/* Search Bar and Button */
.li-btn{
    width: 30%;
    text-align: end;
}
.Loging{
    box-shadow: 6px 3px 4px 0px rgba(149, 24, 163, 0.5);
    background-color: #ffde03;
    cursor: pointer;
    border: none;
    width: 120px;
    height: 35px;
    letter-spacing: 0.1rem;
    font-size: 16px;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    color: #000000;
}
.fa-solid, .fa-bars{
    margin: 0 0 20px 10px;
}
.li-icon{
    width: 3%;
    text-align: center;
    margin-top: 20px ;
    font-size: 25px;
    display: none;
    text-align: end;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 32px;
    cursor: pointer;
}
.Loging:hover, .li-icon i:hover{
    color: #000000;
}


/* main content */
#home{
    height: 590px;
    display:flex;
}
.content{
    width: 60%;
    background-color: #f0f5ff;
    border-radius: 0% 100% 70% 30% / 100% 0% 100% 0%;
}
.text{
    font-weight: 800;
    font-size: 2em;
    letter-spacing: 1.1px;
    color: #333333;
    text-align: center;
    line-height:1.5;
    margin: 20px 0px 15px 0px;
}
.text-p{
    width: 100%;
    padding: 0 150px;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 28px;
    letter-spacing: 0.216px;
    opacity: 0.7;
    text-align: center;
    color: #808080;
}
.highlights{
    color: #6F42C1;
}

/* search part */
.search{
    margin-top: -50px;
    display: flex;
}
.search i{
    margin: 0 2px 0 5px;
    padding-right: 3px;
    opacity: 0.8;
}
.search i:hover{
    opacity: 1;
}
.search-info{
    width: 77%;
    padding: 10px 0px 0px 15px;
}
.search-list{
    width: 95%;
    border-radius: 10px;
    background-color: rgb(241, 238, 238);
    padding: 10px 5px 10px 2px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* skill option */
.search-skills {
    width: 100%;
    border: none;
    padding: 10px 0 0 15px;
    margin-top: 0.5rem;
    border-radius: 20px;
    background-color: rgba(245, 245, 245, 0.514);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex: 2;
    gap: 0.8rem;
}
.search-skills button{
    width: fit-content;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #dcdcdc ;
    cursor: pointer;
    opacity: 0.8;    
    font-weight: 600;
}
.search-skills button:hover{
    opacity: 1;
}
.more{
    color: blue;
}
.search-skills button i{
    opacity: 0.3;
    padding-left: 10px;
}
.more i{
    margin-left: -10px;
    margin-right: 5px;
}

/* sureach */
.search-icon{
    border: none;
    border-left: 2px solid rgb(88, 87, 87);
    text-decoration: none;
    cursor: pointer;
    background:transparent;
    padding-left: 2px;
    opacity: 0.7;
    font-weight: 700;
}
.search-btn{
    width: 40%;
    padding-top: 10px;
    justify-self: start;
}
.submit{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    background-color: #6E00BE;
    color: white;
    cursor: pointer;
    box-shadow: 6px 3px 4px 0px rgba(149, 24, 163, 0.5);
}

/* main image */
.search-left-img{
    width: 40%;
    position: relative;
}
.search-left-img img{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    max-width: 80%;
    height: auto;
}
.search-icon {
    font-size: 18px;
}


@media (max-width: 974px) {
    .li-list{
        display: none;
    }
    .li-icon{
        display: block;
        width: auto;
    }
    .li-btn{
        width: 95%;
    }
    .li-ligo{
        width: 70%;
    }
    .text-p {
        padding: 0 20px;
    }
}


/*skill-categories */

#skill-categories{
    padding-top: 10px;
    /* background-color: whitesmoke; */
}
.flex-col{
    margin-top: -15px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.heding{
    font-weight: 700;
    font-size: 1.5rem;
    color: blue;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.1rem;
}
.skill-heading{
    padding-top: 5px;
    text-align: center;
}
.fa-solid{
    color: #000000;
    padding-right: 10px;
    transition: all 0.3s ease-in-out;
}
.setHover{
    height: 24px;
}
.setHover:hover{
    scale: 1.3;
}
.grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    padding-top: 15px;
    height: fit-content;
}
.flex-row{
    width: auto;
    height: 60px;
    display: flex;
    gap: 0.5rem;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(243 240 240);
    transition: all 0.3s linear;
}
.flex-row:hover{
    box-shadow: 2px 3px 4px #797979;
    scale: (1,1);
}
.fa-layer-group{
    font-size: 30px;
}
.font-size{
    font-size: 30px;
    color: #652407;
}
.flex {
    margin-top: 12px;
    display: flex;
    width: 30%;
    height: 90%;
    align-items: center;
}
.font-size{
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    background-color: #FFEEE7;
    border-radius: 10px;
}
.field{
    position: relative;
    top: 20px;
    font-size: 18px;
    line-height: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
    transition: 0.3s;
    color: #000000;
}
@media (max-width : 1390px){
    .field{
        overflow: hidden;
    }
}

/* companies card section */
#companies{
    margin-top: 10px;
    padding-top: 50px;
    background-color: #F0F5FF;
}
.comp-heading{
    text-align: center;
}
.comp-more-search{
    display: block;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}
.comp-more-search-text{
    font-size: 1rem;
    color: #1967D2;
    line-height: 1.5rem;
    font-weight: 500;
}
.material-symbols-outlined{
    font-size: 0.877rem;
    position: relative;
    top: 2px;
    color: #1967D2;
}
.fa-building{
    font-size: 30px;
}

/* build card */
.card_section{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    background-color: #F0F5FF;
}
.card-grid{
    /* padding : 50px; */
    margin: 0px 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2rem;
}
.card-outer{
    width: 341px;
    height: 385px;
    background: #ffffff;
    box-shadow : 10px 10px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-inner{
    margin-top: 20px;
    width: 301px;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.card-img{
    width: 100%;
    height: 158px;
    flex-shrink: 0;
}
.card_heading{
    width: 100%;
    margin-top: 10px;
    letter-spacing: -1px; /* Adjust the value as needed */
}
.heading_text{   
    font-size: 24px;
    font-weight: 400;
    word-wrap: break-word;
}
.card-h1-line{
    margin-left: 4px;
    width: 90px; 
    height: 0px;
    margin-top: 2px; 
    background: #D9D9D9; 
    border: 0.8px rgb(214, 214, 214) solid;
}
.card-info{
    height: 100.8px;
    margin-top: 15px;
    position:relative; 
    color:#626262;
    font-size:14px;
    line-height:1.2em;
    letter-spacing: 1px;
    font-weight: 500;
}
.card-btn{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-btn-text{
    padding: 5px 31px;
    width: 100%;
    height: 100%;
    color: black;
    border-radius: 25px;
    border: none;
    overflow: hidden;
    background: #e5f4ff;
}
#myVideo::-webkit-media-controls {
    display: none !important;
}

#myVideo:hover::-webkit-media-controls {
    display: initial !important;
}

/* cards-process */

#steps-section{
    padding-top: 30px;
    height: 70vh;
}
.sec-title {
    position: relative;
    margin-bottom: 50px;
    text-align: center
}
.sec-title.small {
    margin-bottom: 35px;
}

.sec-title h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #1a224c;
}

.sec-title h1::before {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 300px;
    height: 2px;
    content: "";
    background: #6E00BE;
}

.sec-title h1::after {
    position: absolute;
    left: 150px;
    bottom: 0px;
    width: 300px;
    height: 2px;
    content: "";
    background: #6E00BE;
}

.sec-title.centered h1:after,
.sec-title.centered h1:before {
    right: 0;
    margin: 0 auto;
}

.working-process{
    padding-left: 100px;
    padding-right: 100px;
}

.line {
    display: flex;
    width: 100%;
    height: 20px; 
    background-color: #ddd; 
    position: relative;
    overflow: hidden;
    z-index: -1;
    top: 110px;
}

.set-icone-width-1{
    width: 50%;
}
.set-icone-width-2{
    width: 50%;
}

.fa-truck-fast{
    width: 100%;
    animation: fa-truck-fast 10s linear infinite; /* Single animation for all icons */
}
.fa-car-side{
    width: 100%;
    animation: fa-car-side 10s linear infinite;
    animation-delay: 7s;
}
@keyframes fa-truck-fast {
    0% {
      transform: translateX(0%); 
    }
    50% {
        transform: translateX(50%); 
      }
    100% {
      transform: translateX(100%); 
    }
  }
  @keyframes fa-car-side {
    0% {
      transform: translateX(0%); 
    }
    50% {
        transform: translateX(50%); 
      }
    100% {
      transform: translateX(100%); 
    }
}

.outer{
    display: flex;
    justify-content: space-between;
}

.float-bob-y{
    width: 250px;
    height: 270px;
    position: relative; /* Add this line */
}

@keyframes float-bob-y {
    0% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  
    50% {
      -webkit-transform: translateY(-1.px);
      transform: translateY(-10px);
    }
  
    100% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  
  .float-bob-y{
    animation-name: float-bob-y; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
  -webkit-animation-name: float-bob-y; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  
  -moz-animation-name: float-bob-y; 
    -moz-animation-duration: 2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
  
  -ms-animation-name: float-bob-y; 
    -ms-animation-duration: 2s; 
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
  
  -o-animation-name: float-bob-y; 
    -o-animation-duration: 2s; 
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

.inner-box{
    width: 100%;
    height: 105%;
    position:relative;
    background-color:#F0F5FF;
    text-align: center;
    transition: .5s ease-in-out;
    padding-top: 10px;
    border-radius: 10px;
}

.pic{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic img{
    width: 222px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: none;
    box-shadow: 5px 5px 5px #cbe1f8;
}

.inner-box h3{
    position:relative;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #001e3b;
}

.text-box{
    position:relative;
    color:#777777;
    font-size:14px;
    line-height:1.8em;
    margin-bottom:18px;
    transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -webkit-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
}
