*{
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* library manu */
#library_nav{
    background: linear-gradient(50deg, rgb(200, 27, 253) 0%, rgb(117, 44, 244) 75.5%,rgb(44, 181, 244) 100%);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

/* logo */
.logo{
    width: 15%;
    display: flex;
    cursor: pointer;
}
#logo_image{
    margin: 0 -20px 0 0;
    height: 80px;
    filter: brightness(6) invert(1);
}
#text_nav{
    margin-top: 15px;
    font-size: 30px;
    font-weight: 700;
    font-family:  "Lobster Two", sans-serif;
    background:linear-gradient(to right, #000000 0%, #EB0000 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.7;
}

/* list */
.list_outter{
    width: 60%;
    height: 100%;
}
.list_ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.list_ul li{
    font-size: 17px;
}
.list_ul li a{
    color: white;
    opacity: 0.7;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.material-symbols-outlined{
    position: absolute;
    color: #ffa600;
    opacity: 0.6;
}
.list_ul li a:hover, .material-symbols-outlined:hover{
    opacity: 1;
}

/* loging */
.Surearch{
    width: 30%;
    text-align: end;
}
.Loging{
    cursor: pointer;
    border: none;
    width: 120px;
    height: 35px;
    letter-spacing: 0.1rem;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 6px 3px 4px 0px rgba(149, 24, 163, 0.5);
    background-color: rgb(247, 195, 99);
    transition: all 0.3s ease 0s;
}
.fa-solid, .fa-bars{
    margin: 0 0 20px 10px;
}
.list_icon{
    width: 3%;
    text-align: center;
    margin-top: 20px ;
    font-size: 25px;
    display: none;
    text-align: end;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 32px;
    cursor: pointer;
}
.Loging:hover, .list_icon i:hover{
    color: white;
}


/* main content */
#mani_info{
    height: 88vh;
    display:flex;
}
.content{
    width: 60%;
    background-color: rgb(224, 235, 255);
    border-radius: 0% 100% 70% 30% / 100% 0% 100% 0%;
}
.text{
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 1.1px;
    color: #333333;
    text-align: center;
    line-height:1.5;
    margin: 20px 0px 15px 0px;
}
.text_p{
    width: 100%;
    padding: 0 150px;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 28px;
    letter-spacing: 0.216px;
    opacity: 0.7;
    font-family: "M PLUS 1";
    text-align: center;
    font-style: normal;
    color: grey;
}
.highlights{
    color: #6F42C1;
}

/* search part */
.ineer_part{
    display: flex;
}
.ineer_part i{
    margin: 0 2px 0 5px;
    padding-right: 3px;
    opacity: 0.8;
}
.ineer_part i:hover{
    opacity: 1;
}
.search_section{
    width: 77%;
    padding: 10px 0px 0px 15px;
    border-radius: 10px;
}
.search_list{
    width: 95%;
    border-radius: 10px;
    background-color: rgb(241, 238, 238);
    padding: 10px 5px 10px 2px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.set_button{
    border: none;
    border-left: 2px solid rgb(88, 87, 87);
    text-decoration: none;
    cursor: pointer;
    background:transparent;
    padding-left: 2px;
    opacity: 0.7;
    font-weight: 700;
    font-size: 18px;
}
.submit_buton_section{
    width: 40%;
    padding-top: 10px;
    justify-self: start;
}
.submit{
    width: 120px;
    height: 40px;
    border-radius: 10%;
    border: none;
    font-size: 15px;
    background-color: #000022;
    color: white;
    cursor: pointer;
    box-shadow: 6px 3px 4px 0px rgba(149, 24, 163, 0.5);
}
/* main image */
.main_img{
    width: 40%;
    text-align: center;
}
.main_img img{
    width: 100%;
}
.set_button {
    font-size: 18px;
}


@media (max-width: 974px) {
    .list_outter{
        display: none;
    }
    .list_icon{
        display: block;
        width: auto;
    }
    .Surearch{
        width: 95%;
    }
    .logo{
        width: 70%;
    }
    .text_p {
        padding: 0 20px;
    }
}
